
body {
  background-color: #64ceaa;
  color: white;
  font-family: sans-serif;
}

kbd {
  border: 1px solid white;
  margin: 2px;
  padding: 2px;
}

.header, .app, .footer, #bpm {
  text-align: center;
}

.header {
  margin-top: 4em;
}

.output {
  margin-top: 1.6em;
  margin-bottom: .8em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* non-prefixed version, currently not supported by any browser */
}

#bpm {
  font-size: 1em;
  font-weight: bold;
  margin: .3em;
  padding: 1.5em;
  width: 5.25em;
}

#toggle {
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  margin: .3em;
  padding: 1.5em;
}

#flash {
  fill: white;
  text-
}

#flash.active {
  /* animate this (possibly only slide scale smaller on resetting, so downbeat is exact) */
  transform: scale(1.1);
}
