body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#metronome {
  position: fixed;
}
.tick {
  stroke: #000;
}
.bpm-circle {
  stroke: #000;
  fill: transparent;
}
.bpm-text {
  text-anchor: middle;
  font-family: monospace;
  alignment-baseline: central;
}
