body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #eee;
}
.info {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #eee;
  padding: 1rem;
}
.info .border {
	box-shadow: inset 0 0 0 0.25rem #000;
  font-size: 1.5rem;
  height: 100%;
  max-width: 100vh;
  margin: auto;
}
.info .content {
  margin: 0;
  padding: 1rem;
  height: calc(100% - 5.5rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.info h1 {
  margin: 0;
}
.info a {
  color: #000;
  text-decoration: none;
  border-bottom: 0.1rem solid #000;
}
.close-info {
  background: #000;
  color: #eee;
  text-align: center;
  padding: 1rem 0;
  bottom: 1rem;
  cursor: pointer;
}
.metronome {
  position: fixed;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: ns-resize;
}
.tick {
  stroke: #000;
}
.bpm-circle {
  fill: #000;
}
.bpm-text {
  fill: #eee;
  text-anchor: middle;
  font-family: monospace;
  alignment-baseline: central;
}
.pointer {
  stroke: #000;
  stroke-linecap: round;
}
.button {
  cursor: pointer;
  fill: transparent;
  stroke: #000;
}
.button>text {
  font-family: FontAwesome;
  fill: #000;
  text-anchor: middle;
  alignment-baseline: central;
}
